{% extends 'base.html' %}



{% block head %}
<title>About Me</title>
{% endblock %}







{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Owen</h1>
      <h2>I'm a Software Enginner with deep interest in Machine Learning and Data Science
      </h2>


      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <span>About Me</span>
          <h2>About Me</h2>
          <p>Computer enthusiast,Programmer, Learner, Hard working and co operative person , but a bit
lazy and reserved . I have a keen interest in the
field of Machine Learnig and Automation.</p>
        </div>

        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content pl-lg-4 d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Name:</strong> OWEN</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Github:</strong> https:XXXXXX</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +86 XXXXXXXX</li>
                    <li><i class="icofont-rounded-right"></i> <strong>City:</strong> City : CHINA</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 20</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> XXX</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> XXXX@gmail.com</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                  </ul>
                </div>
              </div>
              <div class="row mt-n4">
                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                    <span data-toggle="counter-up">1</span>
                    <p><strong>Happy Clients</strong> </p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder" style="color: #8a1ac2;"></i>
                    <span data-toggle="counter-up">20</span>
                    <p><strong>Projects</strong></p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-clock-time" style="color: #2cbdee;"></i>
                    <span data-toggle="counter-up">1</span>
                    <p><strong>Years of experience</strong></p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-award" style="color: #ffb459;"></i>
                    <span data-toggle="counter-up">2</span>
                    <p><strong>Awards</strong></p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->

            <div class="skills-content pl-lg-4">
              <div class="progress">
                <span class="skill">PYTHON <i class="val">95%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>


              <div class="progress">
                <span class="skill">Tensorflow <i class="val">77%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>


              <div class="progress">
                <span class="skill">Computer Vision <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>


              <div class="progress">
                <span class="skill">DEEP LEARNING <i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>


               <div class="progress">
                <span class="skill">WEB DEVELOPMENT (DJANGO/Flask) <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>


              <div class="progress">
                <span class="skill">GUI DEVELOPMENT (Tkinter/PyQT5) <i class="val">85%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>





               <div class="progress">
                <span class="skill">Java <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>





              <div class="progress">
                <span class="skill">HTML <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">JavaScript <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>










            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Me Section -->

    <!-- ======= My Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <span>My Resume</span>
          <h2>My Resume</h2>
          <p>I love the idea of Machine Lerning and the things it can contribute for the benifit of society in long term</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Arnab Das</h4>
              <p><em>Computer enthusiast,Programmer, Learner,
Hard working and co operative person , but a bit
lazy and reserved . I have a keen interest in the
field of Machine Learnig and Automation.</em></p>
              <p>
              <ul>
                <li>Kolkata, West Bengal India</li>
                <li>+91 9547966599</li>
                <li>raj713335@gmail.com</li>
              </ul>
              </p>
            </div>


             <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Intern John Deere</h4>
              <h5>08/2019 - 03/2020</h5>
              <p><em>Magarpatta Pune, India </em></p>
              <p>
              <ul>
              <h5>ACHIVEMENT</h5>
                <li>Hero of the Sprint (2 Times) (weekly prizes for the best
performer in the team )</li>
            </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>UNDER GARDUATION B.Tech</h4>
              <h5>2016 - 2020</h5>
              <p><em>Asansol Engineering College, West Bengal  India</em></p>
              <p>DGPA 8.74</p>
            </div>
            <div class="resume-item">
              <h4>Higher Secondary</h4>
              <h5>2015</h5>
              <p><em>D.A.V Public School (H.C.L) (C.B.S.E)</em></p>
              <p>82%</p>
            </div>
            <div class="resume-item">
              <h4>Secondary</h4>
              <h5>2013</h5>
              <p><em>D.A.V Public School (H.C.L) (C.B.S.E)</em></p>
              <p>9.0 CGPA</p>
            </div>
          </div>
          <div class="col-lg-6">





            <h3 class="resume-title">PROJECTS</h3>
            <div class="resume-item">
              <h4>EYEXA </h4>
              <h5>(03/2020 – 08/2020)</h5>

              <p>
              <ul>
              <h5>Description</h5>
                <li>A Computer Vision and Machine Learning Solution to
implement Social Distancing and Mandatory Mask wearing to
avoid the spread of the Covid 19 virus using ( Python 3.8.3
,tensorflow 2.0 , Computer Vision , Image Processing ,
Tensorflow -GPU , TF-Pose)</li>
            </ul>
              </p>
            </div>


            <div class="resume-item">
              <h4>JDAAT RPA (for John Deere)</h4>
              <h5>(08/2019 – 12/2019)</h5>

              <p>
              <ul>
              <h5>Description</h5>
                <li>A desktop application to automate the data Entry in the Auto IT
china Factory ,with support for English and Mandarin characters
and will save time of ME Community for JDAAT from 150 days
to 25 days. (using python, tkinter , pyautogui,Open CV)</li>
            </ul>
              </p>
            </div>


            <div class="resume-item">
              <h4>SHOP FLOOR DASHBOARD ( for John Deere
Dubuque and Tianjin Factory) </h4>
              <h5> (09/2019 – 02/2020)</h5>

              <p>
              <ul>
              <h5>Description</h5>
                <li>A desktop application that will display real time data of the
current production status in all the factory of John Deere
(24X7) , with multiple language support for Microsoft KAIZALA
API to send real time messages in their respective
smartphones(using python , tkinter , KAIZALA API, Microsoft
SQL,ORCALE, SAP HANA)</li>
            </ul>
              </p>
            </div>

            <div class="resume-item">
              <h4>KC Managemet (for John Deere)  </h4>
              <h5>(01/2020 – 03/2020)</h5>

              <p>
              <ul>
              <h5>Description</h5>
                <li>Online Application to login using DLL's , view data from
Microsoft SQL server , run query and display and visualize data
in form of a Dashboard , table and charts. To perform CRUD
Operation using (Django, SQL , HTML, CSS, JavaScript, jQuery)</li>
            </ul>
              </p>
            </div>

          </div>

           </div>


        </div>

      </div>
    </section><!-- End My Resume Section -->

    <!-- ======= My Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>My Services</span>
          <h2>My Services</h2>
          <p>List of services available</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Data Science</a></h4>
              <p class="description"></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Machine Learning</a></h4>
              <p class="description"></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Desktop Application</a></h4>
              <p class="description"></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Web Development</a></h4>
              <p class="description"></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End My Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="../static/img/testimonials/amol.jpg" class="testimonial-img" alt="">
            <h3>Amol Shejawal</h3>
            <h4>Factory Automantion Leader</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               arnab have great skillset of Python and analytics mindset... will helped for John Deere for development
              of future skills and also automation solutions in area of Analytics, Process automation and IoT Solutions...
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>



        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= My Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>My Portfolio</span>
          <h2>My Portfolio</h2>
          <p>Projects and Application created</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">AI</li>
          <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="../static/img/portfolio/portfolio-1.gif" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>EYEXA</h4>
              <p>A Computer Vision and Machine Learning Solution to implement Social Distancing and Mandatory Mask wearing to avoid the spread of the Covid 19 virus.</p>
              <a href="../static/img/portfolio/portfolio-1.gif" data-gall="portfolioGallery" class="venobox preview-link" title="EYEXA"><i class="bx bx-plus"></i></a>
              <a  class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="../static/img/portfolio/portfolio-2.gif" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>MY RESUME</h4>
              <p></p>
              <a href="../static/img/portfolio/portfolio-2.gif" data-gall="portfolioGallery" class="venobox preview-link" title="RESUME"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="../static/img/portfolio/portfolio-3.gif" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>YT Downloader</h4>
              <p>A CROSS PLATFORM DESKTOP APPLICATION TO DOWNLOAD YOUTUBE VIDEOS AND PLAYLIST</p>
              <a href="../static/img/portfolio/portfolio-3.gif" data-gall="portfolioGallery" class="venobox preview-link" title="YT Downloader"><i class="bx bx-plus"></i></a>
              <a  class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="../static/img/portfolio/portfolio-6.gif" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Samhar COVID-19</h4>
              <p>A Deep Learning Algorithm to predict if the chest x-ray scans are of covid19 positive person or not .</p>
              <a href="../static/img/portfolio/portfolio-6.gif" data-gall="portfolioGallery" class="venobox preview-link" title="Samhar COVID-19"><i class="bx bx-plus"></i></a>
              <a  class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="../static/img/portfolio/portfolio-7.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Facial Recognition</h4>
              <p>Facial Recognition software to recognise faces and make a Attendence .</p>
              <a href="../static/img/portfolio/portfolio-7.png" data-gall="portfolioGallery" class="venobox preview-link" title="Facial Recognition"><i class="bx bx-plus"></i></a>
              <a  class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>





        </div>

      </div>
    </section><!-- End My Portfolio Section -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


{% endblock %}
